# Application
PROJECT_NAME="DebugMind"
APP_ENV=local
SECRET_KEY=temporary_secret_key_change_in_production

# PostgreSQL
# For local run outside docker: postgresql+psycopg2://postgres:postgres@localhost:5432/debugmind
# For docker-compose run: postgresql+psycopg2://postgres:postgres@postgres:5432/debugmind
DATABASE_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/debugmind

# Redis
# For local run outside docker: redis://localhost:6379/0
# For docker-compose run: redis://redis:6379/0
REDIS_URL=redis://redis:6379/0
